/*

    scss使うの面倒なので、相当に保守が必要にならない限り、生cssで記す。 @aseruneko

    [タイトル用font-family]
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;

    [本文用font-family]
    font-family: "Yu Mincho", "游明朝", YuMincho, "游明朝体", "メイリオ", serif;
*/

body {
    font-size: 14px;
    font-family: "Yu Mincho", "游明朝", YuMincho, "游明朝体", "メイリオ", serif;
}

header h1 {
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

section {
    margin: 24px;
}

h1 {
    font-size: 24px;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}

h2 {
    font-size: 18px;
    font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}