.green {
    background-color: green;
    color: white;
    font-size: 36px;
}
.yellow {
    background-color: yellow;
    color: #CCC;
    font-size: 36px;
}
.gray {
    background-color: gray;
    color: #CCC;
    font-size: 36px;
}
.used {
    background-color: #333;
    color: #999;
    font-size: 36px;
}
.not-used {
    background-color: #999;
    color: #333;
    font-size: 36px;
}