.green {
    background-color: green;
    color: white;
    font-size: 36px;
}
.yellow {
    background-color: yellow;
    color: #CCC;
    font-size: 36px;
}
.gray {
    background-color: gray;
    color: #CCC;
    font-size: 36px;
}